/*! style.css for http://github/lokua/lap/test/index.html */

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

.clearfix:after, main:after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: "Droid Sans Mono", Consolas, Menlo, Monaco, monospace;
  font-size: 10px;
  color: #444;
  background: #fbfbfb;
}

input[type=range] {
  width: 100%;
}
progress {
  width: 100%;
}

.text-right {
  text-align: right;
}

.bordered-container {
  border: 1px solid rgba(0,0,0,0.125);
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border: 1px solid rgba(0,0,0,0.125);
  border-right: none;
  border-left: none;
}
td {
  width: 25%;
  vertical-align: top;
}
td {
  border-left: 1px solid rgba(0,0,0,0.125);
}
tr td:last-child {
  border-right: 1px solid rgba(0,0,0,0.125);
}

/*main section {
  width: 25%;
  float: left;
}*/

.lap__control {
  cursor: pointer;
}
.lap__control:hover {
  color: #ff0080;
}

.lap--playing:after {
  content: ': lap--playing';
  color: #ff0080;
}
.lap--paused:after {
  content: ': lap--paused';
  color: #ff0080;
}

.lap__read span:nth-child(odd), .meta__val {
  color: #ff0080;
}

.cover__container {
  padding: 14px;
  padding-top: 0;
}
.cover__container div {
  margin-bottom: 4px;
}

.lap__cover {
  width: 100%;
  height: auto;
}