.lap.lap__player(ng-switch='isMobile')

  .lap__details
    div
      span.lap__detail.lap__artist
      span.lap__detail.lap__album
    div
      span.lap__detail.lap__track-number
      span.lap__detail.lap__track-title

  br


  .lap__controls(ng-switch-default='false')

    //- .lap__control.lap__speaker__container: i.lap__speaker.lap-i-volume-high

    //- lap-volume-range.lap__volume-range.lap--hidden(
    //-   lap-volume-range-revealer='vRangeReady'
    //-   vrange-dragging='false')

    .lap__control.lap__non-v: i.lap__play-pause.lap-i-play

    .lap__control.lap__tooltip.lap__non-v(data-lap-tooltip='previous track')
      i.lap__prev.lap-i-prev
    .lap__control.lap__tooltip.lap__non-v(data-lap-tooltip='next track')
      i.lap__next.lap-i-next

    .lap__read.lap__non-v.lap__current-time 00:00

    .lap__prog-seek: prog-seek.prog-seek

    .lap__read.lap__duration.lap__non-v 00:00

    .lap__control.lap__tooltip.lap__non-v(data-lap-tooltip='previous album')
      i.lap__prev-album.lap-i-prev-album

    .lap__control.lap__tooltip.lap__non-v(data-lap-tooltip='show albums')
      i.lap__discog.lap-i-discog(
        ng-class='{active:discogActive}' 
        ng-click='discogActive=!discogActive')

    .lap__control.lap__tooltip.lap__non-v(data-lap-tooltip='next album')
      i.lap__next-album.lap-i-next-album



  //- MOBILE
  .lap__controls.lap--mobile(ng-switch-when='true')

    section.lap__mobile-section--1
      .lap__control: i.lap__prev.lap-i-prev
      .lap__control: i.lap__play-pause.lap-i-play
      .lap__control: i.lap__next.lap-i-next

    section.lap__mobile-section--2
      .lap__read.lap__current-time 00:00
      .lap__prog-seek: prog-seek.prog-seek
      .lap__read.lap__duration 00:00

    section.lap__mobile-section--3
      .lap__control: i.lap__discog.lap-i-discog(
        ng-class='{active:discogActive}' 
        ng-click='discogActive=!discogActive')


