
<div class="lap__details"><span class="lap__detail lap__artist"></span><span class="lap__detail lap__album"></span><span class="lap__detail lap__track-number"></span><span class="lap__detail lap__track-title"></span></div><br/>
<div class="lap__controls">
  <div class="lap__control lap__speaker__container"><i class="lap__speaker lap-i-volume-high"></i></div>
  <div class="lap__control lap__canvas-volume-range__container lap--hidden">
    <lap-canvas-volume-range lap-volume-range-revealer="ready" class="lap__canvas-volume-range lap--hidden"></lap-canvas-volume-range>
  </div>
  <div class="lap__control lap__control--non-volume"><i class="lap__play-pause lap-i-play"></i></div>
  <div data-tooltip="previous track" class="lap__control lap__control--non-volume tooltip"><i class="lap__prev lap-i-prev"></i></div>
  <div data-tooltip="next track" class="lap__control lap__control--non-volume tooltip"><i class="lap__next lap-i-next"></i></div>
  <div class="lap__read lap__control--non-volume lap__current-time">00:00</div>
  <lap-canvas-prog-seek ready="ready" class="lap__control lap__prog-seek lap__control--non-volume"></lap-canvas-prog-seek>
  <div class="lap__read lap__duration lap__control--non-volume">00:00</div>
  <div data-tooltip="previous album" class="lap__control tooltip lap__control--non-volume"><i class="lap__prev-album lap-i-prev-album"></i></div>
  <div data-tooltip="show albums" class="lap__control tooltip lap__control--non-volume"><i class="lap__discog lap-i-discog"></i></div>
  <div data-tooltip="next album" class="lap__control tooltip lap__control--non-volume"><i class="lap__next-album lap-i-next-album"></i></div>
</div>