$lap-text-color: #666;
$lap-text-size: 12px;
$lap-font: verdana, sans-serif;

$lap-icon-size: 16px;
$lap-icon-color: $lap-text-color;

$lap-border-color: #ddd;

$lap-cover-size: 256px;
$lap-cover-margin: 8px;
$lap-cover-wrapper-size: $lap-cover-size + ($lap-cover-margin * 2);