*,
*:before:not(i),
*:after:not(i) {
  box-sizing: border-box;
}

.lap {
  border: 1px dotted #ddd;
  padding: 16px;
  display: inline-block;
  color: #666;
}
.lap * {
  cursor: normal;
  user-select: none;
}
.lap *:focus {
  outline: 0;
}

.lap-i {
  color: #666;
}

.lap-cover-wrap {
  font-family: verdana, sans-serif;
  position: relative;
  width: 272px;
  height: 272px;
}

.lap-cover {
  margin: 8px;
  width: 256px;
  height: 256px;
  border: 1px dotted #ddd;
}

.lap-playlist-panel, .lap-discog-panel {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 256px;
  height: 256px;
  margin: 8px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.lap-playlist-panel ul, .lap-discog-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lap-details {
  font-family: verdana, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
}

.lap-artist:after {
  content: ' - ';
}

.lap-album {
  font-style: italic;
}

.lap-track-number {
  font-family: consolas, monaco, menlo, monospace;
  color: #8c8c8c;
}
.lap-track-number:after {
  content: ' - ';
}

.lap-controls {
  margin: 0 auto;
  width: 256px;
}

.lap-control {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
}
.lap-control:hover .lap-i {
  color: #8c8c8c;
}

.lap-volume-wrapper {
  display: inline-block;
}

.lap-speaker-wrapper {
  width: 16px;
}

.lap-volume-range-wrapper, .lap-seek-range-wrapper {
  display: inline-block;
  height: 16px;
  padding-bottom: 7px;
}
.lap-volume-range-wrapper input[type=range], .lap-seek-range-wrapper input[type=range] {
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #666;
  width: 128px;
  height: 2px;
}
.lap-volume-range-wrapper input[type=range]::-webkit-slider-thumb, .lap-seek-range-wrapper input[type=range]::-webkit-slider-thumb {
  z-index: 26;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #666;
  border: none;
  width: 8px;
  height: 14px;
}

.lap-seek-range-wrapper {
  width: 128px;
  position: relative;
  z-index: 26;
}
.lap-seek-range-wrapper input[type=range] {
  background-color: transparent;
  position: relative;
  top: -18px;
}

.lap progress[value]::-webkit-progress-bar {
  background: #b8b8b8;
}
.lap progress[value]::-webkit-progress-value {
  background: #666;
}
.lap progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -26;
  position: relative;
  left: 2px;
  top: -1px;
  border: none;
  background: transparent;
  width: 128px;
  height: 2px;
  vertical-align: 2px;
}

.lap-center-cell {
  display: table-cell;
  vertical-align: middle;
}

.lap-album-step {
  display: inline-block;
  padding: 0 2px;
  border: 1px solid #ddd;
}

.lap-label {
  font-size: 12px;
  color: #666;
}

.lap-hidden {
  display: none !important;
}

.lap-center-child {
  vertical-align: middle;
}

.lap-inline-block {
  display: inline-block;
}

.lap-inline {
  display: inline;
}

.lap-non-volume {
  margin: 0;
  padding: 0;
  display: inline-block;
}
