@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);
.clearfix:after, section:after {
  content: '';
  display: table;
  clear: both;
}

.lap-sans, .lap-cover-wrap, .lap-discog-item h4, .lap-discog-panel h3, .lap-details {
  font-family: 'PT Sans', verdana, sans-serif;
}

.lap-serif, h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', 'times new roman', 'georgia', serif;
}

.lap-monospace, .lap-track-number {
  font-family: consolas, monaco, menlo, monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #5c5c5c;
}

*,
*:before:not(i),
*:after:not(i) {
  box-sizing: border-box;
}

section {
  width: 400px;
  min-width: 400px;
  margin: 0 auto 3em;
}

.sub:first-child {
  float: left;
}
.sub:last-child {
  float: right;
}

#banner {
  text-align: center;
}

.lap {
  padding: 16px;
  background: #fcfcfc;
  display: inline-block;
  color: #666;
  clear: both;
}
.lap * {
  cursor: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lap *:focus {
  outline: 0;
}

.lap i {
  cursor: pointer;
  color: #666;
}
.lap i:hover {
  color: #999999;
}

.lap-cover-wrap {
  position: relative;
  width: 272px;
  height: 272px;
}

.lap-cover {
  margin: 8px;
  width: 256px;
  height: 256px;
}

.lap-playlist-panel, .lap-discog-panel {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 256px;
  height: 256px;
  margin: 8px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.62);
  font-size: 12px;
}
.lap-playlist-panel ul, .lap-discog-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lap-playlist-current {
  color: #AAD5FF;
}

.lap-playlist-track-title {
  text-decoration: none;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.lap-playlist-track-title:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  visibility: hidden;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
}
.lap-playlist-track-title:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.lap-discog-item {
  padding: 8px;
  width: 240px;
  margin: 0 auto;
}
.lap-discog-item img {
  border: 1px solid rgba(245, 245, 245, 0.25);
  display: block;
  margin: 0 auto;
  width: 156px;
  height: 156px;
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.025);
}

.lap-discog-item h4, .lap-discog-panel h3 {
  color: whitesmoke;
  margin: 4px 0 0;
  text-align: center;
}

.lap-discog-nav {
  margin: 0 auto;
  text-align: center;
}
.lap-discog-nav i {
  color: whitesmoke;
}
.lap-discog-nav i:hover {
  color: #c2c2c2;
}

.lap-discog-thumb-prev, .lap-discog-thumb-next {
  border: 1px solid whitesmoke;
}

.lap-discog-nav-index {
  margin: 48.89px;
}

.lap-details {
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
}

.lap-artist:after {
  content: ' - ';
}

.lap-album {
  font-style: italic;
}

.lap-track-number {
  color: #8c8c8c;
}
.lap-track-number:after {
  content: ' - ';
}

.lap-controls {
  margin: 0 auto;
  width: 256px;
}

.lap-control {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
}
.lap-control:hover .lap-i {
  color: #8c8c8c;
}

.lap-volume-wrapper {
  display: inline-block;
}

.lap-speaker-wrapper {
  width: 16px;
}

.lap-volume-range-wrapper, .lap-seek-range-wrapper {
  display: inline-block;
  height: 16px;
  padding-bottom: 7px;
}
.lap-volume-range-wrapper input[type=range], .lap-seek-range-wrapper input[type=range] {
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #666;
  width: 76px;
  height: 2px;
}
.lap-volume-range-wrapper input[type=range]::-webkit-slider-thumb, .lap-seek-range-wrapper input[type=range]::-webkit-slider-thumb {
  z-index: 26;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #666;
  border: none;
  width: 8px;
  height: 14px;
}

.lap-seek-range-wrapper {
  width: 76px;
  position: relative;
  z-index: 26;
}
.lap-seek-range-wrapper input[type=range] {
  background-color: transparent;
  position: relative;
  top: -18px;
}

.lap progress[value]::-webkit-progress-bar {
  background: #b8b8b8;
}
.lap progress[value]::-webkit-progress-value {
  background: #666;
}
.lap progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -26;
  position: relative;
  left: 2px;
  top: -1px;
  border: none;
  background: transparent;
  width: 76px;
  height: 2px;
  vertical-align: 2px;
}

.lap-read {
  display: inline;
  font-size: 9px;
  position: relative;
  top: -3px;
}

.lap-center-cell {
  display: table-cell;
  vertical-align: middle;
}

.lap-hidden {
  display: none !important;
}

.lap-center-child {
  vertical-align: middle;
}

.lap-non-volume {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#player_02 .lap-volume-wrapper input[type=range] {
  width: 216px;
}

#single-track-player {
  width: 208px;
}
#single-track-player .lap-volume-wrapper input[type=range] {
  width: 148px;
}

#mini-player .lap-current-time:after {
  content: ' / ';
}

.divider {
  width: 50%;
  margin: 0 auto;
  min-width: 400px;
  border-bottom: 1px solid #ddd;
}

.minimal-box-shadow, .lap, .lap-cover {
  box-shadow: 0px 1px 2px 0px #ddd;
}
