doctype html
head
  title Lap | Angular Demo

  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../lap-icons/style.css')
  script(src='../../deps/lo66er/dist/lo66er.js')
  script(src='../../deps/angular/angular.js')
  script(src='../../src/lap-svc.js')
  script(src='../../src/lap-container-directive.js')
  script(src='../../src/lap-prog-seek-directive.js')

body(ng-app='demo' ng-controller='DemoCtrl' style='margin-top:32px')

  lap-container(src='{{src}}')

  script.
    var logger = new Lo66er('DemoCtrl', { level: 0 });
    angular
      .module('demo', ['lap'])
      .controller('DemoCtrl', ['$scope', function($scope) {
        //- $scope.src = '../lib.json';
        //- $scope.src = '../sh.mp3';
        $scope.src = [{files:'wahtever'}];
      }]);