doctype html
head
  title Lap | CSS-Controls Demo
  link(rel='stylesheet', href='style.css')
  link(rel='stylesheet', href='lap-icons/style.css')
  script(src='../../dist/lap-debug.js')
  script(src='scripts/lap-volume-range-revealer.js')
  script(src='scripts/lap-canvas-prog-seek.js')
  script(src='scripts/lap-canvas-volume-range.js')
  script(src='scripts/script.js')
body

  header
    h1#banner Lap (Lokua Audio Player) Demos

  main#main

    section
      h1 full discography player
      #full-discography-player.lap
        .lap__cover__container
          img.lap__cover
          .lap__playlist__panel.lap--hidden
          .lap__discog__panel.lap--hidden
            h3 Albums
            .lap__discog__items
              //- <- dynamic content
            .lap__discog__nav
              span.lap__control: i.lap__discog__thumb--prev.lap-i-prev-album
              span.lap__discog__nav-index
              span.lap__control: i.lap__discog__thumb--next.lap-i-next-album

        .lap__details
          span.lap__artist
          span.lap__album
          br
          span.lap__track-number
          span.lap__track-title

        .lap__canvas-volume-range__container: .lap__canvas-volume-range

        .lap__controls
          .lap__volume__container
            .lap__control.lap__speaker__container: i.lap__speaker.lap-i-volume-high
            .lap__canvas-volume-range__container: .lap__canvas-volume-range
            //- .lap__volume-range__container: .lap__cell--parent
            //-   input.lap__volume-range.lap--hidden(type='range', min='0', max='100', value='80')
          .lap__controls--non-volume
            .lap__control: i.lap__play-pause.lap-i-play
            .lap__control: i.lap__prev.lap-i-prev
            .lap__control: i.lap__next.lap-i-next
            .lap__read.lap__current-time 00:00
            .lap__prog-seek__container: .lap__prog-seek
            //- .lap__seek-range__container: .lap__cell--parent
            //-   progress.lap__progress(min='0', max='100')
            //-   input.lap__seek-range(type='range', min='0', max='100', value='0')
            .lap__read.lap__duration 00:00
            .lap__control: i.lap__playlist.lap-i-playlist
            .lap__control: i.lap__discog.lap-i-discog

    .divider

    section
      .sub
        h1 single track player
        #single-track-player.lap
          .lap__details
            span.lap__artist
            span.lap__track-title
          .lap__volume__container
            .lap__control.lap__speaker__container: i.lap__speaker.lap-i-volume-high
            .lap__volume-range__container: .lap__cell--parent
              input.lap__volume-range.lap--hidden(type='range', min='0', max='100', value='80')
          .lap__controls--non-volume
            .lap__control: i.lap__play-pause.lap-i-play
            .lap__read.lap__current-time 00:00
            .lap__seek-range__container: .lap__cell--parent
              progress.lap__progress(min='0', max='100')
              input.lap__seek-range(type='range', min='0', max='100', value='0')
            .lap__read.lap__duration 00:00

      .sub
        h1 mini player
        #mini-player.lap
          .lap__control: i.lap__play-pause.lap-i-play
          .lap__read.lap__current-time 00:00
          span &nbsp;/
          .lap__read.lap__duration 00:00
