@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);

.lap:after, #main section:after, #full-discography-player .lap__case-and-discog-container:after, #full-discography-player .lap__case:after, #full-discography-player .lap__discog__container:after {
  content: '';
  display: table;
  clear: both;
}

.lap__container {
  display: inline-block;
  padding: 8px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.125);
}

.lap {
  width: 298px;
  color: #555;
}

.lap *, .lap *:before:not(i), .lap *:after:not(i) {
  box-sizing: border-box;
  cursor: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lap *:focus, .lap *:before:not(i):focus, .lap *:after:not(i):focus {
  outline: 0;
}

.lap i {
  font-size: 16px;
  cursor: pointer;
  color: #555;
}

.lap i:hover {
  color: #888888;
}

.lap__controls, .lap__details {
  width: 298px;
  height: 18px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.lap__detail, .lap__control {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.lap__canvas-volume-range__container {
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.lap__read {
  padding-top: 3px;
  font-size: 10px;
  font-family: 'Source Code Pro';
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.lap__canvas-volume-range {
  width: 76px;
  position: relative;
  -webkit-flex-grow: 8;
  -ms-flex-positive: 8;
  flex-grow: 8;
  padding-top: 3px;
}

.lap__canvas-volume-range canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.lap__prog-seek {
  width: 76px;
  position: relative;
  -webkit-flex-grow: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
  padding-top: 3px;
}

.lap__prog-seek canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.test {
  margin-top: 32px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  border: 1px solid #000;
}

.test .item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid red;
}

.test .a {
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.lap .lap__tooltip {
  display: inline;
  position: relative;
  font-size: 12px;
  transition: opacity;
}

.lap .lap__tooltip:before, .lap .lap__tooltip:after {
  opacity: 0;
}

.lap .lap__tooltip:hover:before, .lap .lap__tooltip:hover:after {
  transition-delay: 1s;
  opacity: 1;
}

.lap .lap__tooltip:hover {
  text-decoration: none;
}

.lap .lap__tooltip:hover:after {
  background: #000;
  color: #fff;
  bottom: 1.35em;
  content: attr(data-tooltip);
  display: block;
  left: 1em;
  padding: 3px 6px;
  position: absolute;
  white-space: nowrap;
  z-index: 98;
}

.lap .lap--hidden {
  display: none !important;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #444;
}

#main section {
  padding: 8px;
}

#main .lap {
  border: 1px solid #ddd;
}

#full-discography-player .lap__cover__container img, #full-discography-player .lap__playlist__panel img, #full-discography-player .lap__playlist__panel {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
}

#full-discography-player {
  position: relative;
  background: #e6e6d8;
}

#full-discography-player .lap__case {
  width: 75%;
  float: none;
  margin: 0 auto;
  padding-top: 16px;
  position: relative;
}

#full-discography-player .lap__cover__container, #full-discography-player .lap__playlist__panel {
  width: 50%;
  float: left;
}

#full-discography-player .lap__cover__container img, #full-discography-player .lap__playlist__panel img {
  width: 256px;
  height: 256px;
  float: right;
  padding-right: 16px;
}

#full-discography-player .lap__playlist__panel {
  width: 256px;
  height: 256px;
  position: relative;
  z-index: 22;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

#full-discography-player .lap__playlist__panel ul {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
  padding-left: 16px;
  font-family: 'Ubuntu Mono', Consolas, Menlo, monospace;
}

#full-discography-player .lap__playlist__panel li {
  cursor: pointer;
}

#full-discography-player .lap__playlist__panel li:hover {
  color: red;
}

#full-discography-player .lap__discog__container {
  position: relative;
}

#full-discography-player .lap__discog__panel {
  width: 75%;
  float: none;
  margin: 0 auto;
}

#full-discography-player .lap__discog__thumb {
  width: 33.3333333333%;
  float: left;
  margin: 0 auto;
  cursor: pointer;
}

#full-discography-player .lap__discog__thumb img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  display: block;
}

#full-discography-player .lap__discog__thumb h4, #full-discography-player .lap__discog__thumb h5, #full-discography-player .lap__discog__thumb h6 {
  text-align: center;
  font-weight: normal;
  margin: 4px 0;
}

#full-discography-player .lap__discog__thumb h5 {
  font-family: 'Ubuntu Mono', Consolas, Menlo, monospace;
}

#single-track-player .lap__controls {
  margin: 0;
}