@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);

.lap:after, #main section:after {
  content: '';
  display: table;
  clear: both;
}

.lap {
  padding: 16px;
  color: #555;
  clear: both;
}

.lap *, .lap *:before:not(i), .lap *:after:not(i) {
  box-sizing: border-box;
  cursor: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lap *:focus, .lap *:before:not(i):focus, .lap *:after:not(i):focus {
  outline: 0;
}

@media only screen and (max-width: 720px) {
  .lap {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.125);
  }
}

.lap i {
  font-size: 16px;
  cursor: pointer;
  color: #555;
}

.lap i:hover {
  color: #888888;
}

.lap__controls, .lap__details {
  margin: 0 auto;
  width: 232px;
  height: 16px;
  min-height: 16px;
}

.lap__details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 0 0 4px;
  height: 20px;
  min-height: 20px;
}

.lap__details span {
  font-size: 10px;
}

.lap__track-number:after, .lap__artist:after, .lap__album:after {
  content: ' - ';
}

.lap__album {
  font-style: italic;
}

.lap__track-title {
  font-weight: bold;
}

.lap__control {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 4px;
}

.lap__control:hover .lap-i {
  color: #7b7b7b;
}

.lap__play-pause.lap--playing:before {
  content: "\e601";
}

.lap__play-pause.lap--paused:before {
  content: "\e600";
}

.lap__volume__container {
  display: inline-block;
}

.lap__volume__container input[type=range] {
  width: 216px;
}

.lap__speaker__container {
  width: 16px;
  margin-right: 0;
}

.lap__volume-range__container input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

.lap__volume-range__container input[type=range]:focus {
  outline: none;
}

.lap__volume-range__container input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #a7a7a7;
}

.lap__volume-range__container input[type=range]::-webkit-slider-thumb {
  background: #555;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  height: 14px;
  width: 8px;
}

.lap__volume-range__container input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a7a7a7;
}

.lap__volume-range__container input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #a7a7a7;
}

.lap__volume-range__container input[type=range]::-moz-range-thumb {
  border: none;
  background: #555;
  cursor: pointer;
  border-radius: 0%;
  height: 14px;
  width: 8px;
}

.lap__volume-range__container input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}

.lap__volume-range__container input[type=range]::-ms-fill-lower {
  background: #a7a7a7;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.lap__volume-range__container input[type=range]::-ms-fill-upper {
  background: #a7a7a7;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.lap__volume-range__container input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  background: #555;
  cursor: pointer;
}

.lap__volume-range__container input[type=range]:focus::-ms-fill-lower {
  background: #a7a7a7;
}

.lap__volume-range__container input[type=range]:focus::-ms-fill-upper {
  background: #a7a7a7;
}

.lap__volume-range__container, .lap__seek-range__container {
  display: inline-block;
  height: 16px;
}

.lap__seek-range__container {
  width: 76px;
  position: relative;
}

.lap__seek-range__container input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

.lap__seek-range__container input[type=range]:focus {
  outline: none;
}

.lap__seek-range__container input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
}

.lap__seek-range__container input[type=range]::-webkit-slider-thumb {
  background: #555;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  height: 14px;
  width: 8px;
}

.lap__seek-range__container input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

.lap__seek-range__container input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
}

.lap__seek-range__container input[type=range]::-moz-range-thumb {
  border: none;
  background: #555;
  cursor: pointer;
  border-radius: 0%;
  height: 14px;
  width: 8px;
}

.lap__seek-range__container input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}

.lap__seek-range__container input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.lap__seek-range__container input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.lap__seek-range__container input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  background: #555;
  cursor: pointer;
}

.lap__seek-range__container input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}

.lap__seek-range__container input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}

.lap__seek-range__container input[type=range].lap__seek-range {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.lap progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  background-size: auto;
  position: relative;
  left: 2px;
  top: -1px;
  width: 76px;
  height: 2px;
  vertical-align: 2px;
  margin: 0;
  padding: 0;
}

.lap progress::-webkit-progress-bar, .lap progress::-moz-progress-bar {
  background: #a7a7a7;
}

.lap progress::-webkit-progress-value {
  background: #555;
}

.lap__read {
  display: inline;
  font-family: 'Source Code Pro';
  font-size: 10px;
  position: relative;
  top: -3px;
}

.lap__duration {
  margin-left: 4px;
}

.lap--hidden {
  display: none !important;
  pointer-events: none;
}

.lap__controls--non-volume {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.lap__prog-seek__container, .lap__canvas-volume-range__container {
  display: inline-block;
  width: 76px;
  height: 16px;
  padding-top: 4px;
}

.lap__canvas-volume-range__container {
  position: absolute;
  margin-right: 4px;
}

.lap__prog-seek, .lap__canvas-volume-range {
  cursor: pointer;
  position: relative;
  height: 18px;
  padding-top: 2px;
}

.lap__prog-seek canvas, .lap__canvas-volume-range canvas {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font-family: 'Droid Sans';
  color: #444;
}

#main section {
  padding: 8px;
}

#main .lap {
  border: 1px solid #ddd;
}

#full-discography-player .lap__case {
  width: 75%;
  float: none;
  margin: 0 auto;
  padding-top: 16px;
}

#full-discography-player .lap__cover__container, #full-discography-player .lap__playlist__panel {
  width: 50%;
  float: left;
}

#full-discography-player .lap__cover__container img, #full-discography-player .lap__playlist__panel img {
  width: 256px;
  height: 256px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
  float: right;
  padding-right: 16px;
}

#full-discography-player .lap__playlist__panel {
  width: 256px;
  height: 256px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#full-discography-player .lap__playlist__panel ul {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
  padding-left: 16px;
}

#full-discography-player .lap__playlist__panel li:hover {
  color: red;
}

#full-discography-player .lap__discog__container {
  padding-top: 16px;
}

#full-discography-player .lap__discog__panel {
  width: 75%;
  float: left;
  margin: 0 auto;
}

#full-discography-player .lap__discog__thumb {
  width: 33.3333333333%;
  float: left;
  margin: 0 auto;
}

#full-discography-player .lap__discog__thumb img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

#single-track-player .lap__controls {
  margin: 0;
}