@font-face {
	font-family: 'icomoon_audio';
	src:url('fonts/icomoon_audio.eot?-fk5pkw');
	src:url('fonts/icomoon_audio.eot?#iefix-fk5pkw') format('embedded-opentype'),
		url('fonts/icomoon_audio.woff?-fk5pkw') format('woff'),
		url('fonts/icomoon_audio.ttf?-fk5pkw') format('truetype'),
		url('fonts/icomoon_audio.svg?-fk5pkw#icomoon_audio') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon_audio';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lap-i-infinity:before {
	content: "\e600";
}
.lap-i-minus:before {
	content: "\e601";
}
.lap-i-plus:before {
	content: "\e602";
}
.lap-i-minus2:before {
	content: "\e603";
}
.lap-i-plus2:before {
	content: "\e604";
}
.lap-i-question:before {
	content: "\e606";
}
.lap-i-cw:before {
	content: "\e607";
}
.lap-i-shuffle:before {
	content: "\e608";
}
.lap-i-layout:before {
	content: "\e609";
}
.lap-i-list:before {
	content: "\e60a";
}
.lap-i-download:before {
	content: "\e60b";
}
.lap-i-play:before {
	content: "\e60c";
}
.lap-i-pause:before {
	content: "\e60d";
}
.lap-i-stop:before {
	content: "\e60e";
}
.lap-i-next:before {
	content: "\e60f";
}
.lap-i-previous:before {
	content: "\e610";
}
.lap-i-first:before {
	content: "\e611";
}
.lap-i-last:before {
	content: "\e612";
}
.lap-i-volume:before {
	content: "\e613";
}
.lap-i-arrow-left:before {
	content: "\e614";
}
.lap-i-arrow-down:before {
	content: "\e618";
}
.lap-i-arrow-up:before {
	content: "\e619";
}
.lap-i-arrow-right:before {
	content: "\e615";
}
.lap-i-arrow-left2:before {
	content: "\e616";
}
.lap-i-arrow-down2:before {
	content: "\e61a";
}
.lap-i-arrow-up2:before {
	content: "\e617";
}
.lap-i-arrow-right2:before {
	content: "\e61b";
}
