@import 'muf';
@import 'vars';

// 
// --- GLOBAL (layout etc)
// 

// not(i) -> don't fuck with .fa icon boxes
*,
*:before:not(i),
*:after:not(i) {
  box-sizing: border-box;
}

section {
  @extend .clearfix;
  width: 50%;
  min-width: $lap-min-width;
  margin: 0 auto 3em;
}
.sub {
  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}

// 
// --- ALL PLAYERS
// 

// generic container, 
// should be added to whatever element is passed as 
// container arg to Lap constructor
.lap {
  @extend .minimal-box-shadow;
  padding: 16px;
  background: darken(white, 1%);
  display: inline-block;
  color: $lap-text-color;
  clear: both;
  * {
    cursor: normal;
    user-select: none;
    &:focus {
      outline: 0;
    }
  }
}

.lap-i {
  color: $lap-icon-color;
}

.lap-cover-wrap {
  font-family: $lap-font;
  position: relative;
  width: $lap-cover-wrapper-size;
  height: $lap-cover-wrapper-size;
}
.lap-cover {
  @extend .minimal-box-shadow;
  margin: $lap-cover-margin;
  width:$lap-cover-size;
  height:$lap-cover-size;
}
.lap-playlist-panel, .lap-discog-panel {
  position: absolute;
  top: 0;
  left: 0;
  // overflow: scroll;
  overflow: auto;
  width: $lap-cover-wrapper-size - 16px;
  height: $lap-cover-wrapper-size - 16px;
  margin: $lap-cover-margin;
  color: $lap-playlist-text-color;
  background: rgba(0,0,0,0.62);
  font-size: $lap-text-size;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.lap-playlist-current {
  color: #AAD5FF;
}
.lap-playlist-track-title {
  @include underline-text-on-hover($lap-playlist-text-color);
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.lap-discog-item {
  img {
    width: $lap-discog-thumb-size;
    height: $lap-discog-thumb-size;
  }
}

.lap-details {
  font-family: $lap-font;
  font-size: $lap-text-size;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
}
.lap-artist {
  &:after {
    content: ' - ';
  }
}
.lap-album {
  font-style: italic;
}
.lap-track-number {
  font-family: $lap-monospace;
  // font-size: $lap-text-size - 2px;
  color: lighten($lap-text-color, 15%);
  &:after {
    content: ' - ';
  }
}

.lap-controls {
  margin: 0 auto;
  // width: $lap-icon-size * 14;
  width: 256px;
}

.lap-control {
  display: inline-block;
  width: $lap-icon-size;
  height: $lap-icon-size;
  margin: 0;
  &:hover .lap-i {
    color: lighten($lap-icon-color, 15%);
  }
}

.lap-volume-wrapper {
  display: inline-block;
}

// keep speaker fixed size, waves change width
// when the icons are switched
.lap-speaker-wrapper {
  width: 16px;
}

// used to center the slider track
.lap-volume-range-wrapper, .lap-seek-range-wrapper {
  display: inline-block;
  height: $lap-icon-size;
  padding-bottom: 7px; // icon-height/2 (8px) - track-height/2 (1px)
  input[type=range] {
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: $lap-icon-color;
    width: $lap-progress-width;
    height: 2px;
  }
  input[type=range]::-webkit-slider-thumb {
    z-index: 26;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: $lap-icon-color;
    border: none;
    width: 8px;
    height: 14px;
  }  
}

.lap-seek-range-wrapper {
  width: $lap-progress-width;
  position: relative;
  z-index: 26;
  input[type=range] {
    background-color: rgba(0,0,0,0);
    position: relative;
    top: -18px;
  }
}

.lap {
  // container (track)
  progress[value]::-webkit-progress-bar {
    background: lighten($lap-icon-color, 32%);
  }
  // value
  progress[value]::-webkit-progress-value {
    background: $lap-icon-color;
  }
  progress {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    z-index: -26;
    position: relative;
    left: 2px;
    top: -1px;
    border: none; // firefox
    background: rgba(0,0,0,0);
    width: $lap-progress-width;
    height: 2px;
    vertical-align: 2px;
  }
}

// lap-current-time, lap-duration
.lap-read {
  // font-family: $lap-monospace;
  display: inline;
  font-size: 9px;
  position: relative;
  top: -3px;
}

// container for children that need to be centered
// set vertical-align: middle; on the child
.lap-center-cell {
  display: table-cell;
  vertical-align: middle;
}

.lap-hidden {
  display: none !important;
}

.lap-center-child {
  vertical-align: middle;
}

.lap-non-volume {
  margin: 0;
  padding: 0;
  display: inline-block;
}

// 
// --- SPECIFIC PLAYER 
// 

#single-track-player {
  width: 208px;
  .lap-volume-wrapper input[type=range] {
    width: 148px;
  }
}

#mini-player {
  .lap-current-time:after {
    content: ' / ';
  }
}


// 
// --- UTILITY CLASSES
// 

.divider {
  width: 50%;
  margin: 0 auto;
  min-width: $lap-min-width;
  border-bottom: 1px solid $lap-border-color;
}

.minimal-box-shadow {
  @include minimal-box-shadow($lap-border-color);
}