$lap-background-color:#fbfbfb;
$lap-font-size: 12px;
$lap-icon-size: 16px;
$lap-progress-width: 76px;
$lap-text-color: #555;
$lap-icon-color: #555;
$lap-margin: 4px;
$lap-info-text-size: 10px;
$lap-font-family: 'Source Code Pro';
$lap-track-color: lighten($lap-icon-color, 32%);
$lap-controls-width: 298px;
$lap-monospace: 'Ubuntu Mono', Consolas, Menlo, monospace;

$lap-DEBUG: false;

lap-container {
  display: inline-block;
  padding: 8px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.125);
}

.lap {
  @extend %o-clearfix;

  width: $lap-controls-width;

  @if ($lap-DEBUG) {
    border: 1px dotted rgba(255,0,0,0.5);
  }

  color: $lap-text-color;

  *, 
  *:before:not(i), 
  *:after:not(i) {
    box-sizing: border-box;
    cursor: normal;
    user-select: none;
    &:focus {
      outline: 0;
    }
  }

  i {
    font-size: $lap-icon-size;
    cursor: pointer;
    color: $lap-icon-color;
    &:hover {
      color: lighten($lap-icon-color, 20%);
    }
    &.active {
      color: cornflowerblue;
    }
  }

}


.lap__controls, 
.lap__details {
  @if ($lap-DEBUG) {
    border: 1px dotted rgba(0,0,255,0.5);
  }
  width: $lap-controls-width;
  height: 18px;
}

.lap__controls {
  display: inline-flex;
  flex-flow: row nowrap;
  // justify-content: center;
  // align-items: center;
}

.lap__details {
  text-align: center;
}

.lap__control {
  flex-grow: 1;
}

.lap__detail {

  &.lap__artist:after,
  &.lap__track-number:after {
    content: ' -\00a0'; // \00a0=blank
  }

  &.lap__album {
    font-style: italic;
  }

  &.lap__track-number {
    &:before {
      font-size: $lap-font-size - 2;
      content: 'trk\00a0';
    }
  }

}

.lap__control {
  @if ($lap-DEBUG) {
    border: 1px dotted rgba(0,255,0,0.5);
  }    
}

.lap__play-pause {
  &.lap--playing:before {
    content: "\e601"; // - lap-icons/.lap-i-pause
  }
  &.lap--paused:before {
    content: "\e600"; // - lap-icons/.lap-i-play
  }
}

.lap__canvas-volume-range__container {
  flex-grow: 3;
}

// .lap__canvas-volume-range__container {
.lap__canvas-volume-range {
  width: $lap-progress-width;
  position: relative;
  flex-grow: 8;
  padding-top: 3px;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }    
}
.lap__prog-seek {
  @include o-center;
  width: $lap-progress-width;
  position: relative;
  flex-grow: 4;
  padding-top: 3px;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.lap__read {
  @if ($lap-DEBUG) {
    border: 1px dotted rgba(0,255,0,0.5);
  }      
  padding-top: 3px;
  font-size: $lap-info-text-size;
  font-family: $lap-font-family;
  flex-grow: 2;
}

.lap__current-time {
  text-align: right;
  font-family: $lap-monospace;
}
.lap__duration {
  text-align: left;
  font-family: $lap-monospace;
}

.lap__playlist__track-number {
  font-family: $lap-monospace;
  color: lighten($lap-text-color, 25%);
  font-size: $lap-font-size - 2;
}
.lap__playlist__item {
  cursor: pointer;
  &:hover {
    // .lap__playlist__track-title {
      color: darken($lap-text-color, 55%);
    // }
  }
}

.lap__tooltip {
  display: inline;
  position: relative;
  font-size: 12px;
  transition: opacity;
  &:before, &:after {
    opacity: 0;
  }
  &:hover:before, 
  &:hover:after {
    transition-delay: 1s;
    opacity: 1;
  }
  &:hover {
    // color: blue;
    text-decoration: none;
    &:after {
      // font-size: 10px;
      background: #000;
      color: #fff;
      bottom: 1.35em;
      content: attr(data-lap-tooltip);
      display: block;
      left: 1em;
      padding: 3px 6px;
      position: absolute;
      white-space: nowrap;
      z-index: 98;
    }
    // &:before {
    //   border: solid;
    //   border-color: #000 transparent;
    //   border-width: .4em 0 0 .6em;
    //   bottom: 1em;
    //   content: '';
    //   display: block;
    //   left: 1em;
    //   position: absolute;
    //   z-index: 99;
    //   transform: scaleX(-1);
    // }
  }
}

.lap--hidden {
  display: none !important;
} 

