
.lap__case {
  @include o-span(8, none);
  @include o-center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  *, 
  *:before:not(i), 
  *:after:not(i) {
    box-sizing: border-box;
    cursor: normal;
    user-select: none;
    &:focus {
      outline: 0;
    }
  }
}

lap-playlist {
  display: flex;
  flex-wrap: wrap;
}

.lap__cover__container,
.lap__playlist__panel {
  @include o-size(300px, 280px);
  flex-basis: 300px;
  // border: 1px solid red;
  flex-grow: 1;
}

.lap__cover__container {
  overflow: hidden;
}

img.lap__cover {
  display: block;
  @include o-center;
  @include o-size(280px);
  border: 1px dotted rgba(0,0,0,0.125);
  // box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.125);
}

.lap__playlist__panel {
  // overflow: auto;
}

.lap__playlist__panel__inner {
  @include o-center;
  @include o-size(280px);
  display: block;
  overflow: auto;
  border: 1px dotted rgba(0,0,0,0.125);
}

.lap__playlist__item {
  cursor: pointer;
  &:hover {
    color: darken($lap-text-color, 55%);
  }
}

.lap__playlist__item--current {
  color: blue;
}

.lap__playlist__track-number {
  font-family: $lap-monospace;
  color: lighten($lap-text-color, 25%);
  font-size: $lap-font-size - 2;
}

// lap-discog {
// }

.lap__discog__panel {
  // @include o-size(600px, 280px);
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lap__discog__item {
  flex-grow: 1;
  img {
    display: block;
    @include o-center;
    @include o-size(200px);
    border: 1px dotted rgba(0,0,0,0.125);
  }
  aside {
    text-align: center;
  }
}
