@mixin o-progress(

    $background: #bbb, 
    $value: #777, 
    $width: 128px, 
    $height: 2px) {

  // container (track)
  progress[value]::-webkit-progress-bar {
    background: $background;
  }
  // value
  progress[value]::-webkit-progress-value {
    background: $value;
  }
  progress {
    // autoprefixer does not work with appearence (not part of any spec)
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    z-index: -26;
    position: relative;
    left: 2px;
    top: -1px;
    border: none; // firefox
    background: rgba(0,0,0,0);
    width: $width;
    height: $height;
    vertical-align: 2px;
  }
}