@import '../../deps/o-dash/o-';
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro|Source+Serif+Pro);
// @import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
@import 'lap';
@import 'lap-extras';

@font-face {
  font-family: 'balhamregular';
  src: url('fonts/balham/fontsquirrel-webfontkit/balham-webfont.eot');
  src: url('fonts/balham/fontsquirrel-webfontkit/balham-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/balham/fontsquirrel-webfontkit/balham-webfont.woff2') format('woff2'),
    url('fonts/balham/fontsquirrel-webfontkit/balham-webfont.woff') format('woff'),
    url('fonts/balham/fontsquirrel-webfontkit/balham-webfont.ttf') format('truetype'),
    url('fonts/balham/fontsquirrel-webfontkit/balham-webfont.svg#balhamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// override
// $lap-font-family: 'Droid Sans Mono';
$lap-font-family: 'Quattrocento Sans', sans-serif;
$img-size: 256px;
$off-white: #fafaf7;

body {
  // font-family: 'Source Sans Pro';
  // font-family: 'Droid Sans';
  // font-family: $lap-font-family;
  font-family: balhamregular;
  font-size: $lap-font-size;
  color: #444;
}

// .other, .demo__container {
//   @include o-media(small) {
//     @include o-span(12);
//   }
// }

// .other {
//   @include o-span(4);
// }

// .demo__container {
//   @include o-span(8);
// }
