doctype html
head
  title Lap | CSS-Controls Demo
  link(rel='stylesheet', href='style.css')
  link(rel='stylesheet', href='lap-icons/style.css')
  script(src='../../dist/lap-debug.js')
  script(src='expanding-volume-range.js')
  script(src='discog-populator.js')
  script(src='script.js')
body

  header
    h1#banner Lap (Lokua Audio Player) Demos

  main#main

    section
      h1 full discography player
      #player_02.lap
        .lap-cover-wrap
          img.lap-cover
          .lap-playlist-panel.lap-hidden
          .lap-discog-panel.lap-hidden
            h3 Albums
            .lap-discog-items
              //- <- dynamic content
            .lap-discog-nav
              span.lap-control: i.lap-discog-thumb-prev.lap-i-prev-album
              span.lap-discog-nav-index
              span.lap-control: i.lap-discog-thumb-next.lap-i-next-album

        .lap-details
          span.lap-artist
          span.lap-album      
          br
          span.lap-track-number
          span.lap-track-title

        .lap-controls
          .lap-volume-wrapper
            .lap-control.lap-speaker-wrapper: i.lap-speaker.lap-i-volume-high
            .lap-volume-range-wrapper: .lap-center-cell
              input.lap-volume-range.lap-hidden(type='range', min='0', max='100', value='80')
          .lap-non-volume
            .lap-control: i.lap-play-pause.lap-i-play
            .lap-control: i.lap-prev.lap-i-prev
            .lap-control: i.lap-next.lap-i-next
            .lap-read.lap-current-time 00:00
            .lap-seek-range-wrapper: .lap-center-cell
              progress.lap-progress(min='0', max='100')
              input.lap-seek-range(type='range', min='0', max='100', value='0')
            .lap-read.lap-duration 00:00
            .lap-control: i.lap-playlist.lap-i-playlist
            .lap-control: i.lap-discog.lap-i-discog

    .divider

    //- section
    //-   .sub
    //-     h1 single track player
    //-     #single-track-player.lap
    //-       .lap-details
    //-         span.lap-artist
    //-         span.lap-track-title    
    //-       .lap-volume-wrapper
    //-         .lap-control.lap-speaker-wrapper: i.lap-speaker.lap-i-volume-high
    //-         .lap-volume-range-wrapper: .lap-center-cell
    //-           input.lap-volume-range.lap-hidden(type='range', min='0', max='100', value='80')
    //-       .lap-non-volume
    //-         .lap-control: i.lap-play-pause.lap-i-play
    //-         .lap-read.lap-current-time 00:00
    //-         .lap-seek-range-wrapper: .lap-center-cell
    //-           progress.lap-progress(min='0', max='100')
    //-           input.lap-seek-range(type='range', min='0', max='100', value='0')
    //-         .lap-read.lap-duration 00:00

    //-   .sub
    //-     h1 mini player
    //-     #mini-player.lap
    //-       .lap-control: i.lap-play-pause.lap-i-play
    //-       .lap-read.lap-current-time 00:00
    //-       .lap-read.lap-duration 00:00
